@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        display: grid;
        grid-template-columns: 24px .5fr 1fr 50px;
        grid-template-rows: 1fr;
        align-items: center;
    }

    .hamburger {
        visibility: hidden;
    }

    .navigation {
        display: block;
        margin: 0;
        grid-column: 3;
        grid-row: 1;
    }

    .navigation ul {
        display: flex;
        flex-wrap: nowrap;
    }

    .navigation li {
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
        border: 0;
    }

    .ico-nav {
        grid-column: 4;
    }

    .list section {
        display: grid;
        grid-template-columns: .5fr 2fr .7fr 1.3fr;
        margin: 1em;
        padding: 10px;
    }

    .list section .company-name {
        justify-content: left;
    }

    .list section .phone {
        justify-content: left;
    }
}