@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    /********* Header *********/
    header {
        display: grid;
        grid-template-columns: 24px .5fr 1fr 50px;
        grid-template-rows: 1fr;
        align-items: center;
    }

    /********* Hamburger *********/
    .hamburger {
        visibility: hidden;
    }

    /********* Navigation *********/
    .navigation {
        display: block;
        margin: 0;
        grid-column: 3;
        grid-row: 1;
    }

    .navigation ul {
        display: flex;
        flex-wrap: nowrap;
    }

    .navigation li {
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
        border: 0;
    }

    .ico-nav {
        grid-column: 4;
    }

    /********* Main *********/

    main .hero {
        width: 95%;
        height: auto;
    }

    main .local-content {
        width: 95%;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: .5em;
        margin: 1em auto;
    }


    /********* Grid View *********/
    .grid section {
        max-width: 75%;
    }

    /********* List View *********/
    .list section {
        display: grid;
        grid-template-columns: .5fr 2fr .7fr 1.3fr;
        margin: 1em;
        padding: 10px;
    }

    .list section .company-name {
        justify-content: left;
    }

    .list section .phone {
        justify-content: left;
    }

    /********* Footer *********/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer .contact,
    footer .copyright {
        text-align: left;
    }
}