@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation li {
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    .list section {
        display: grid;
        grid-template-columns: .5fr 2fr .7fr 1.3fr;
        margin: 1em;
        padding: 10px;
    }

    .list section .company-name {
        justify-content: left;
    }

    .list section .phone {
        justify-content: left;
    }
}