@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation li {
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    /********* Main Home *********/
    /* button for newsletter */
    .home .newsletter {
        bottom: 25%;
    }

    /********* Main Discs Modal *********/
    .disc-dialog {
        width: 400px;
        left: 10em;
        top: 10em;

    }

    /********* Main Location *********/
    .weather-location {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "weather city";
        gap: 1em;
        align-items: center;
        margin: 1em 3em;
    }

    .weather {
        grid-area: weather;
        text-align: center;
    }

    .city {
        grid-area: city;
        text-align: left;
        font-size: 1.2rem;
        font-weight: 600;
    }

    /********* Footer *********/
    .social {
        margin-top: 1em;
    }
}

@media only screen and (min-width: 60rem) {

    /********* Main Discs Modal *********/
    .disc-dialog {
        width: 500px;
        left: 25em;
        top: 10em;
    }
}