:root {
    /* Fonts */
    --heading-font: 'Rock Salt', 'Fuzzy Bubbles', Helvetica, sans-serif;
    --standard-font: 'Montserrat', Helvetica, sans-serif;

    /* Colors */
    --primary-color: #3DDC97;
    --secondary-color: #256EFF;
    --accent-color1: #FF495C;
    --accent-color2: #46237A;
    --text-color1: #000000;
    --text-color2: #FCFCFC;
}

/********* Wild card settings *********/
* {
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--standard-font);
}

/********* Header *********/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 5px 10px 10px;
    align-items: end;
    border-bottom: 1px solid black;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    font-family: var(--heading-font);
    color: black;
}

/********* Hamburger *********/
.hamburger {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: none;
    border: none;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
    cursor: pointer;
}

.hamburger.show::before {
    content: "\00D7";
}

/********* Navigation *********/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    text-decoration: none;
    padding: .8rem 10px;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color1);
}

.navigation a:hover {
    background-color: var(--accent-color1);
    color: white;
}

.navigation a.wayfinder {
    color: var(--accent-color2);
    font-weight: bold;
    text-shadow: 2px 2px 3px var(--accent-color1);
}

/********* Main *********/
h1,
h2 {
    font-family: var(--heading-font);
}

/********* Main Home *********/
.home .hero {
    position: relative;
    margin: 0 auto;
}

.home .hero img {
    max-width: 100%;
    height: auto;
    border-radius: 0 0 1em 1em;
}

/* button for newsletter */
.home .newsletter {
    position: absolute;
    bottom: 45%;
    right: 5%;
    background-color: var(--accent-color2);
    color: var(--black);
    padding: 10px 10px;
    border: none;
    border-radius: 3em;
    cursor: pointer;
    box-shadow: -3px 3px 12px var(--primary-color);
    color: var(--text-color2);
    font-weight: 500;
}

.home .newsletter:hover {
    background-color: var(--primary-color);
    color: var(--text-color1);
    box-shadow: -3px 3px 12px var(--accent-color2);
}

.home .newsletter:focus {
    outline: none;
}

.home h1 {
    text-align: center;
    margin-top: 1em;
}

.home section {
    max-width: 800px;
    margin: 1.5em auto;
    padding: 1em;
    background-color: var(--);
    border-radius: 1em;
    box-shadow: 0px 0px 12px var(--accent-color2);
}

.home h2 {
    text-align: center;
    margin-bottom: 1em;
    background-color: var(--secondary-color);
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 12px var(--accent-color2);
    color: var(--text-color2);
}

.home .disc {
    margin: 1em;
    padding: .1em;
    float: right;
    width: 100px;
    height: auto;
    max-width: 100%;
    background-color: var(--primary-color);
    border: 1px solid var(--text-color1);
    border-radius: 1em 0 1em 0;
    box-shadow: 0px 0px 12px var(--accent-color1);
}

.home .basket {
    margin: 1em;
    padding: .5em 0 .5em 0;
    float: left;
    width: 100px;
    height: auto;
    max-width: 100%;
    background-color: var(--primary-color);
    border: 1px solid var(--text-color1);
    border-radius: 1em 0 1em 0;
    box-shadow: 0px 0px 12px var(--accent-color1);
}

.home .silhouette {
    margin: 1em;
    padding: .5em;
    float: right;
    width: 200px;
    height: auto;
    max-width: 100%;
    background-color: var(--primary-color);
    border: 1px solid var(--text-color1);
    border-radius: 1em 0 1em 0;
    box-shadow: 0px 0px 12px var(--accent-color1);
}

.home section p {
    line-height: 1.5;
    font-size: 1.2rem;
    color: var(--text-color1);
    padding: 1em;
}

.home section ul {
    list-style: disc;
    padding-left: 2em;
}

.home section ul li {
    margin-bottom: 0.5em;
    color: var(--text-color1);
}

/********* Main Discs *********/
.discover {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;
    padding: 1em;
}

.discover div {
    background-color: var(--primary-color);
    border: 1px solid var(--text-color1);
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0px 0px 12px var(--accent-color2);
}

.discover div h2 {
    font-size: 1.5rem;
    color: var(--text-color1);
    margin-bottom: 1em;
}

.discover div p {
    font-size: 1rem;
    color: var(--text-color1);
    font-weight: 500;
}

.discover div figure {
    margin: 0;
    padding: 0;
}

.discover div img {
    margin: 1em 0;
    width: 100%;
    height: auto;
    border-radius: 0.5em;
}

.discover div button {
    background-color: var(--secondary-color);
    color: var(--text-color2);
    padding: 0.5em 1em;
    border: none;
    border-radius: 3em;
    cursor: pointer;
    box-shadow: -3px 3px 12px var(--primary-color);
    font-weight: 600;
}

.discover div button:hover {
    background-color: var(--accent-color1);
    color: var(--text-color1);
    box-shadow: -3px 3px 12px var(--secondary-color);
}




/********* Footer *********/
footer {
    background-color: var(--secondary-color);
    padding: 1rem 10px;
    text-align: center;
    color: black;
    border-radius: 1em 1em 0 0;
    ;
}

footer span.tagline {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1em;
    color: var(--text-color2);
}

footer p {
    color: var(--text-color2);
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-bottom: 1em;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--text-color2);
    border: 2px solid var(--text-color1);
    border-radius: 3em;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--accent-color1);
    border-radius: 3em;
}