:root {
    /* Fonts */
    --heading-font: 'Rock Salt', 'Fuzzy Bubbles', Helvetica, sans-serif;
    --standard-font: 'Montserrat', Helvetica, sans-serif;

    /* Colors */
    --primary-color: #3DDC97;
    --secondary-color: #256EFF;
    --accent-color1: #FF495C;
    --accent-color2: #46237A;
    --text-color1: #000000;
    --text-color2: #FCFCFC;
}

/********* Wild card settings *********/
* {
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--standard-font);
}

/********* Header *********/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 5px 10px 10px;
    align-items: end;
    border-bottom: 1px solid black;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    font-family: var(--heading-font);
    color: black;
}

/********* Hamburger *********/
.hamburger {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: none;
    border: none;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
    cursor: pointer;
}

.hamburger.show::before {
    content: "\00D7";
}

/********* Navigation *********/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    text-decoration: none;
    padding: .8rem 10px;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color1);
}

.navigation a:hover {
    background-color: var(--accent-color1);
    color: white;
}

.navigation a.wayfinder {
    color: var(--accent-color2);
    font-weight: bold;
    text-shadow: 2px 2px 3px var(--accent-color1);
}

/********* Main *********/
h1,
h2 {
    font-family: var(--heading-font);
}

/********* Main Home *********/
.home .hero {
    position: relative;
    margin: 0 auto;
}

.home .hero img {
    max-width: 100%;
    height: auto;
    border-radius: 0 0 1em 1em;
}

/* button for newsletter */
.home .newsletter {
    position: absolute;
    bottom: 45%;
    right: 5%;
    background-color: var(--accent-color2);
    color: var(--black);
    padding: 10px 10px;
    border: none;
    border-radius: 3em;
    cursor: pointer;
    box-shadow: -3px 3px 12px var(--primary-color);
    color: var(--text-color2);
    font-weight: 500;
}

.home .newsletter:hover {
    background-color: var(--primary-color);
    color: var(--text-color1);
    box-shadow: -3px 3px 12px var(--accent-color2);
}

.home .newsletter:focus {
    outline: none;
}

.home h1 {
    text-align: center;
    margin-top: 1em;
}

.home section {
    max-width: 800px;
    margin: 1.5em auto;
    padding: 1em;
    background-color: var(--);
    border-radius: 1em;
    box-shadow: 0px 0px 12px var(--accent-color2);
}

.home h2 {
    text-align: center;
    margin-bottom: 1em;
    background-color: var(--secondary-color);
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 12px var(--accent-color2);
    color: var(--text-color2);
}

.home .disc {
    margin: 1em;
    padding: .1em;
    float: right;
    width: 100px;
    height: auto;
    max-width: 100%;
    background-color: var(--primary-color);
    border: 1px solid var(--text-color1);
    border-radius: 1em 0 1em 0;
    box-shadow: 0px 0px 12px var(--accent-color1);
}

.home .basket {
    margin: 1em;
    padding: .5em 0 .5em 0;
    float: left;
    width: 100px;
    height: auto;
    max-width: 100%;
    background-color: var(--primary-color);
    border: 1px solid var(--text-color1);
    border-radius: 1em 0 1em 0;
    box-shadow: 0px 0px 12px var(--accent-color1);
}

.home .silhouette {
    margin: 1em;
    padding: .5em;
    float: right;
    width: 200px;
    height: auto;
    max-width: 100%;
    background-color: var(--primary-color);
    border: 1px solid var(--text-color1);
    border-radius: 1em 0 1em 0;
    box-shadow: 0px 0px 12px var(--accent-color1);
}

.home section p {
    line-height: 1.5;
    font-size: 1.2rem;
    color: var(--text-color1);
    padding: 1em;
}

.home section ul {
    list-style: disc;
    padding-left: 2em;
}

.home section ul li {
    margin-bottom: 0.5em;
    color: var(--text-color1);
}

/********* Main Discs *********/
.discs {
    margin: 0 auto;
    padding: 1em;
}

.discs h1 {
    text-align: center;
}

.discs p {
    max-width: 800px;
    font-weight: 500;
    margin: 1em auto;
}

.discs .sample {
    font-weight: 600;
}

.discover {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;
    padding: 1em;
}

.discover div {
    background-color: var(--primary-color);
    border: 1px solid var(--text-color1);
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0px 0px 12px var(--accent-color2);
}

.discover div h2 {
    font-size: 1.5rem;
    color: var(--text-color1);
    margin-bottom: 1em;
}

.discover div p {
    font-size: 1rem;
    color: var(--text-color1);
    font-weight: 500;
}

.discover div figure {
    margin: 0;
    padding: 0;
}

.discover div img {
    margin: 1em 0;
    width: 100%;
    height: auto;
    border-radius: 0.5em;
}

.discover div button {
    background-color: var(--secondary-color);
    color: var(--text-color2);
    padding: 0.5em 1em;
    border: none;
    border-radius: 3em;
    cursor: pointer;
    box-shadow: -3px 3px 12px var(--primary-color);
    font-weight: 600;
}

.discover div button:hover {
    background-color: var(--accent-color1);
    color: var(--text-color1);
    box-shadow: -3px 3px 12px var(--secondary-color);
}

/* Modal Dialog */
.disc-dialog {
    width: 300px;
    max-width: 90%;
    padding: 1em;
    border-radius: 1em;
    left: 1em;
    top: 10em;
    overflow: auto;
    background-color: var(--accent-color2);
    color: var(--text-color2);
    box-shadow: 0px 0px 12px var(--accent-color2);
}

.disc-dialog h2 {
    margin-bottom: 0.5em;
}

.disc-dialog figure {
    margin: 0;
    padding: 0;
}

.disc-dialog img {
    margin: 1em 0;
    width: 100%;
    height: auto;
    border-radius: 0.5em;
}

.disc-dialog p {
    margin: 0.5em 0;
    font-weight: 600;
}

.disc-dialog p span {
    font-weight: 400;
}

.disc-dialog.show {
    display: block;
}

.close-dialog {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
    border: none;
}

/* Basics */
.basics {
    margin-top: 1em;
    padding: 1em;
    color: var(--text-color1);
    text-shadow: 1px 1px 3px var(--accent-color1);

}

.flight-path,
.angle {
    display: block;
    width: 95%;
    height: auto;
    margin: 0 auto;
    border-radius: 1.5em;
}

figcaption {
    display: flex;
    text-shadow: 0px 0px 12px var(--accent-color1);
    justify-content: right;
    font-style: italic;
    margin-bottom: 1.5em;
    padding-right: 3em;
}

.discs h3 {
    font-family: var(--heading-font);
    margin: 1em 2em;
    color: var(--text-color1);
}

.discs table {
    width: 90%;
    border: 1px solid var(--text-color1);
    border-collapse: collapse;
    margin: 1em auto;
}

.discs th,
.discs td {
    border: 1px solid var(--text-color1);
    padding: 0.5em;
    text-align: center;
}

.discs th {
    background-color: var(--secondary-color);
    color: var(--text-color2);
}

.discs ul {
    list-style: disc;
    padding-left: 2em;
    margin: 1em 3em;
}

.discs ul li {
    margin-bottom: 1em;
}

.tip {
    max-width: 90%;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    padding: 0.5em 1em;
    margin: 1em auto;
}

.discs span {
    font-weight: bold;
}

.rhbh {
    margin: 1em 3em;
    font-style: italic;
}

/********* Main Locations *********/
.locate {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

.locate h1 {
    text-align: center;
}

.city {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1em;
}

.weather-card {
    display: grid;
    grid-template-areas:
        "icon temperature"
        "description description"
        "high low"
        "humidity humidity"
        "sunrise sunset";
    width: 100%;
    max-width: 300px;
    margin: 1em auto;
    padding: 1em;
    background-color: var(--secondary-color);
    border-radius: 1em;
    box-shadow: 0px 0px 12px var(--accent-color1);
    color: var(--text-color2);
}

.weather-icon {
    width: 100px;
    height: auto;
}

.weather p {
    font-weight: 500;
}

.weather span {
    font-weight: bold;
}

.locate .locate-p {
    margin-bottom: 1em;
    font-weight: 500;
}

.locate ul {
    list-style: disc;
    padding-left: 1.5em;
}

.locate ul li {
    margin-bottom: 0.5em;
}

.locate a {
    color: var(--secondary-color);
    text-decoration: none;
}

.locate a:hover {
    text-decoration: underline;
}

/********* Footer *********/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--secondary-color);
    padding: 1rem 10px;
    text-align: center;
    color: black;
    border-radius: 1em 1em 0 0;
}

footer span.tagline {
    grid-column: 1/4;
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1em;
    color: var(--text-color2);
    text-shadow: 1px 1px 3px var(--accent-color1);
}

footer p {
    color: var(--text-color2);
    font-weight: 600;
}

.course {
    grid-column: 1;
}

.course p {
    margin: .5em;
    color: var(--text-color2);
    text-shadow: 1px 1px 3px var(--accent-color2);
}   

.date {
    grid-column: 1/4;
    font-style: italic;
    text-shadow: 1px 1px 3px var(--accent-color2);
}

.social {
    grid-column: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 10px;
    padding-bottom: 1em;    
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--text-color2);
    border: 2px solid var(--text-color1);
    border-radius: 3em;
    box-shadow: -3px -1px 12px var(--accent-color2);
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--accent-color1);
    border-radius: 3em;
}